## Preprocessing

In [259]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import h5py

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [260]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])

# Show df
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [261]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [262]:
# Look at APPLICATION_TYPE value counts for binning
application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [263]:
application_type_value_counts.dtypes

dtype('int64')

In [264]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Create empty list to store "Other" application types
application_types_to_replace = []

# Create for loop to identify application types with counts lower than 500
# then append these application types to empty list
for i in range(len(application_type_value_counts)):
  if application_type_value_counts[i] < 500:
    application_types_to_replace.append(application_type_value_counts.index[i])

# Replace low count application types with "Other" in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [265]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [266]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts_1 = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]
classification_value_counts_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [267]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Create empty list to store "Other" classifications
classifications_to_replace = []

# Create for loop to identify classifications with counts lower than 1000
# then append these application types to empty list
for i in range(len(classification_value_counts)):
  if classification_value_counts[i] < 1000:
    classifications_to_replace.append(classification_value_counts.index[i])

# Replace low count classifications with "Other" in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [268]:
# Show column names to select columns with categorical data
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [269]:
# Convert categorical data to numeric with `pd.get_dummies`
# Create new dataframe with only numeric values
application_dummies_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

# Show dataframe
application_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [277]:
# Split our preprocessed data into our features and target arrays

# Features array
X = application_dummies_df.drop(columns=['IS_SUCCESSFUL'])
# Target array
y = application_dummies_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [271]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [272]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer1 =  50
hidden_nodes_layer2 = 25


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_nodes_layer1, input_dim= number_input_features, activation= "LeakyReLU"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units= 1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_37"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_110 (Dense)           (None, 50)                2200

 dense_111 (Dense)           (None, 25)                1275

 dense_112 (Dense)           (None, 1)                 26

=================================================================
Total params: 3,501
Trainable params: 3,501
Non-trainable params: 0
_________________________________________________________________

In [273]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [274]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5772 - accuracy: 0.7160
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5589 - accuracy: 0.7278
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5545 - accuracy: 0.7286
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7303
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7296
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7300
Epoch 8/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5498 - accuracy: 0.7308
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5493 - accuracy: 0.7322
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7309
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7317
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5476 - accuracy: 0.7312
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7324
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7322
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7329
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7320
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5461 - accuracy: 0.7317
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7329
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7324
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7337
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7310
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7325
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5451 - accuracy: 0.7332
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7338
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7326
Epoch 27/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5446 - accuracy: 0.7332
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7340
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7334
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7336
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7349
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7336
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5432 - accuracy: 0.7348
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7339
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7334
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7344
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7348
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7330
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7352
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5422 - accuracy: 0.7345
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7357
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7354
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7358

In [275]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5534 - accuracy: 0.7263 - 777ms/epoch - 3ms/step
Loss: 0.5533533096313477, Accuracy: 0.7262973785400391

In [279]:
# Export our model to HDF5 file
nn = h5py.File("AlphabetSoupCharity_Optimisation.h5", "w")